<header>
  <nav>
    <a href="{{ base_url }}acceuil">
      <img src="/image/logo.webp" alt="Logo Stagio" />
    </a>

    <a href="{{ base_url }}acceuil">Accueil</a>
    <a href="{{ base_url }}rechercher">Rechercher</a>

    {% if user %}
      {% if user.role == 'etudiant' or user.role == 'admin' %}
        <a href="{{ base_url }}favoris">Favoris</a>
      {% endif %}
      {% if user.role == 'etudiant' or user.role == 'pilote' or user.role == 'admin' %}
        <a href="{{ base_url }}candidature">Mes candidatures</a>
      {% endif %}
      <a href="{{ base_url }}profil">Mon profil</a>
      <span>Bonjour, {{ user.prenom }} {{ user.nom }}</span>
      <a href="{{ base_url }}deconnexion">Se déconnecter</a>
    {% else %}
      <a href="{{ base_url }}identification">Se connecter</a>
    {% endif %}
  </nav>
</header>
