<header>
  <nav>
    <img src="{{ base_url }}image/logo.webp" alt="Logo Stagio" />
    <a href="{{ base_url }}acceuil">Accueil</a>
    <a href="{{ base_url }}rechercher">Rechercher</a>
    <a href="{{ base_url }}favoris">Favoris</a>
    <a href="{{ base_url }}candidature">Mes candidatures</a>
    <span class="nav-username">Bonjour, Jean Dupont</span>
    <a href="{{ base_url }}index">Se déconnecter</a>
  </nav>
</header>
