<header>
  <nav>
    <img src="{{ base_url }}image/logo.webp" alt="Logo Stagio" />
    <a href="{{ base_url }}">Accueil</a>
    <a href="{{ base_url }}offre-index">Offres</a>
    <a href="/entreprises">Entreprises</a>
    <a href="{{ base_url }}a-propos">À propos</a>
    <a href="{{ base_url }}identification" class="nav-cta">Se connecter</a>
  </nav>
</header>
