{% extends 'base.html.twig' %}

{% block title %}Stagio - Accueil{% endblock %}

{% block description %}content="Stagio - Acceuil"{% endblock %}

{% block content %}

    <section>
        {% for favori in favoris %}
            <div class="card">
                <h3>{{ favori.titre_offre }}</h3>
                <p>{{ favori.nom_entreprise }}</p>
                <a href="{{ base_url }}offre?id={{ favori.id_offre }}">Voir l'offre</a>
                <form method="POST" action="{{ base_url }}favoris/supprimer">
                    <input type="hidden" name="id_offre" value="{{ favori.id_offre }}">
                    <button type="submit">&#10084;</button>
                </form>
            </div>
        {% else %}
            <p>Vous n'avez pas encore de favoris.</p>
        {% endfor %}
    </section>

{% endblock %}