<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stagio - Offres</title>
    <meta name="description" content="Stagio - Details de l'offre." />
  </head>
  <body>
    <header>
      <nav>
        <img src="image/logo.webp" alt="Logo Stagio" />
        <a href="{{base_url}}index">Accueil</a>
        <a href="{{base_url}}offre-index">Offres</a>
        <a href="{{base_url}}a propos">A propos</a>
      </nav>
    </header>






    <h1>Offre d'emploi page d'acceuil</h1>


    <footer>
      <table>
        <tr>
          <td>&copy; 2024 Stagio - CESI. Tous droits réservés.</td>
        </tr>
        <tr>
          <td><a href="{{base_url}}mention-legal">Mentions légales</a></td>
          <td><a href="{{base_url}}offre">Offres</a></td>
          <td><a href="{{base_url}}contact">Contact</a></td>
          <td><a href="{{base_url}}entreprise">Entreprises</a></td>
        </tr>
      </table>
    </footer>
  </body>
</html>
