<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stagio - Profil</title>
    <meta name="description" content="Stagio - Votre profil." />
  </head>
  <body>
    <header>
      <nav>
        <img src="image/logo.webp" alt="Logo Stagio" />
        <a href="{{ base_url }}acceuil">Accueil</a>
        <a href="{{ base_url }}rechercher">>Rechercher</a>
        <a href="{{ base_url }}favoris"></a>>Favoris</a>
        <a href="{{ base_url }}candidature"></a>>Mes candidatures</a>
        <!-- Nom de l'utilisateur connecté (sera dynamique en PHP) -->
        <span>Bonjour, Jean Dupont</span>
        <a href="{{ base_url }}index">Se déconnecter</a>
      </nav>
    </header>


    <footer>
      <table>
        <tr>
          <td>&copy; 2024 Stagio - CESI. Tous droits réservés.</td>
        </tr>
        <tr>
          <td><a href="{{base_url}}mention-legal">Mentions légales</a></td>
          <td><a href="{{base_url}}offre">Offres</a></td>
          <td><a href="{{base_url}}contact">Contact</a></td>
          <td><a href="{{base_url}}entreprise">Entreprises</a></td>
        </tr>
      </table>
    </footer>
  </body>
</html>
