{% extends 'base.html.twig' %}

{% block title %}Stagio - Accueil{% endblock %}

{% block description %}content="Stagio - Acceuil"{% endblock %}

{% block content %}
    
    {% for recherche in rechercher %}
    {{recherche.titre}}
    {{recherche.description}}
    {{recherche.date_offre}}
    {{recherche.duree_stage}}
    <a href="/offre?id={{recherche.id_offre}}">Voir l'offre</a>

    {% endfor %}
    
    {% if page > 1 %}
    <a href="/rechercher?page={{ page - 1 }}">← Précédent</a>
    {% endif %}
    {% if page < totalPages %}
    <a href="/rechercher?page={{ page + 1 }}">Suivant →</a>
    {% endif %}

{% endblock %}
